@font-face {
    font-family: 'Acrom_Regular';
    src: url('fonts/Acrom-Regular.eot');
    src: url('fonts/Acrom-Regular.eot?#iefix') format('embedded-opentype');
    src: local('☺'),
         url('fonts/Acrom-Regular.woff2') format('woff2'),
         url('fonts/Acrom-Regular.woff') format('woff'),
         url('fonts/Acrom-Regular.ttf') format('truetype'),
         url('fonts/Acrom-Regular.svg#Acrom_Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family:'Acrom_ExtraBold';
  src: url('fonts/Acrom-ExtraBold.eot');
  src: url('fonts/Acrom-ExtraBold.eot?#iefix') format('embedded-opentype');
  src: local('☺'),
    url('fonts/Acrom-ExtraBold.woff') format('woff'),
    url('fonts/Acrom-ExtraBold.ttf') format('truetype'),
    url('fonts/Acrom-ExtraBold.svg#Acrom_ExtraBold') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+006F-2116;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

#portfolio {
   min-width: 1000px;
}

body {
   color: #676666;
   font: 14px Arial,Helvetica,sans-serif;
   overflow: hidden;
}

.hold1 {
   max-width: 1600px;
   min-width: 1000px;
   position: relative;
}

#portfolio #hdr {
   height: 122px;
}
#hdr {
   font-size: 12px;
   height: 142px;
   padding: 0 20px;
   position: relative;
}


.m111 {
   clear: right;
   float: left;
   font-size: 12px;
   width: 33%;
}

#logo {
   display: block;
   left: 40px;
   position: absolute;
   top: 30px;
}

a {
   color: #454545;
}

a img {
   border: 0 none;
}

.contentContainer {
  position: relative;
  height: 100%;
  min-height: 800px;
  min-width: 1000px;
}
.no-js .slide-nav,
.no-js .slides-container {
  display: none;
}
.no-js h1 {
  text-align: center;
  margin: 2em;
}
.slide-nav.active {
  width: 120px;
  padding-top: 60px;
  padding-right: 50px;
}
.slide-nav {
  border-radius: 5px 0 0 5px;
  background: linear-gradient(to right, rgba(217,217,217,1) 0%,rgba(255,255,255,1) 40%);
  position: absolute;
  margin-top: 11%;
  z-index: 100;
  list-style: none;
  display: none;
  height: 364px;
  right: 20px;
  padding-top: 60px;
  width: 50px;
}
.slide-nav.active span {
  display: block;
}
.slide-nav.active .nav_circle {
  display: none;
}
.slide-nav .nav_circle {
  display: block;
  width: 20px;
  height: 20px;
  background: url(nav_circle.png) no-repeat 0px 0px;
}
.slide-nav span{
  display: none;
}
.slide-nav .nav_small_logo {
  position: absolute;
  right: 12px;
  top: 18px;
}
.slide-nav.active li {
  margin-bottom: 24px;
}
.slide-nav li {
  display: block;
  margin-bottom: 22px;
}
.slide-nav li div {
  margin: 0 auto;
}
.slide-nav li a div:hover {
  background-position: 0px -21px;
}
.slide-nav.active li a {
  color: #ef3301;
  text-decoration: none;
  font-weight: bold;
  display: block;
  text-align: right;
}
.slide-nav li a:hover {
  color: #9a2000 !important;
}
.slide-nav a.active {
  color: #9a2000;
}
.slides-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide {
  position: relative;
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
}
.slide img.img_bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
}
.backbg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: 0 auto;
  position: absolute;
  background-color: #ffffff;
}
.go-prev,
.go-next {
  cursor: pointer;
  font-weight: bold;
}
.slide em {
  font-style: italic;
}
.slide {
  background-color: #ffffff;
  min-width: 1000px;

}
.slide .headline {
  width: 46em;
  margin: 0 auto;
}
@media screen and (max-width: 635px) {
  .slide .headline {
    font-size: 60%;
    width: 34em;
  }
}
.slide .tip {
  position: absolute;
  width: 100%;
  bottom: 29%;
}
.tip span {
  color: #ACA89D;
  text-align: center;
  font-size: 1.7em;
}
.tip .icon-down {
  font-size: 2em;
}
.basics-content {
  font-size: 1.5em;
  color: #242424;
  line-height: 1;
  position: absolute;
/*  left: 60px;
  top: 70px;
  z-index: 2;
  overflow: hidden;
  right: 20px;
  bottom: 20px;*/
  left: 0px;
  top: 0px;
  z-index: 2;
  overflow: hidden;
  right: 0px;
  bottom: 0px;
}
.marker.active .line,
.marker.active .circle {
  animation-name: animStroke;
}
.marker {
  position: relative;
  height: 400px;
  width: 600px;
}
.trigger {
  position: absolute;
  top: 37px;
  left: 22px;
  cursor: pointer;
  pointer-events: none;
  text-transform: uppercase;
  font-family: Oswald;
  color: #333;
  transition: color .2s linear;
  font-size: 22px;
}
.hovered {
  color: #fff;
}
.line {
  stroke: #DDDFD7;
  stroke-width: 2;
  fill: none;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation-duration: 6s;
  animation-delay: .3s;
  animation-fill-mode: forwards;
}
.circle {
  fill: #fff;
  stroke-width: 2;
  stroke: #DDDFD7;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation-duration: 3s, .3s;
  animation-fill-mode: forwards;
  cursor: pointer;
}
.circle1 {
  fill: #fff;
  transition: fill .18s linear;
  animation-duration: 3s;
}
.circle1:hover {
  fill: #303D62;
}
.s-circle {
  opacity: 0;
}
.text {
  fill: transparent;
  font-family: Oswald;
  font-size: 20px;
  text-transform: uppercase;
}
.marker.active .text {
  animation-name: animFill;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.marker.active .s-circle {
  animation-name: animStroke, animOpac;
  transition: fill .18s linear;
}
.active a:hover .text {
  text-decoration: underline;
}
/*.slide .basics-content p {
  width: 50%;
  font: 18px/30px pf_beausans_prolight;
  color: #000000;
}*/
#slide-17 p {
  width: 650px;
  font: 18px/30px pf_beausans_prolight;
  color: #000000;
}
#slide-1,
#slide-2,
#slide-3 {
  min-height: 620px;
}
#slide-1 .basics-content {
  margin-top: 0px;
  font: 16px/24px Arial;
  color: #ffffff;
  margin-left: 10%;
}
#slide-1 .backbg {
  top: 120px;
}
.slide .basics-content h2,
#slide-17 h2 {
  font: 40px/50px PFBeauSansProRegular;
  margin-bottom: 40px;
  color: #000000;
}
#slide-17 h2 {
  font: 40px/50px pf_beausans_prolight;
}
.slide .basics-content h3 {
  font: 22px Arial;
  margin-bottom: 20px;
  color: #ffffff;
}
.slide-4 .basics-content p,
.slide-5 .basics-content p  {
  width: 632px;
}
.slide-19 .basics-content h2,
.slide-19 .basics-content p {
  color: #00437b;
}
.active a:hover .s-circle {
  fill: #303D62;
}
.circle2,
.text1 {
  animation-delay: .8s;
}
.circle3,
.text2 {
  animation-delay: 1.2s;
}
.circle4,
.text3 {
  animation-delay: 1.4s;
}
.circle5,
.text4 {
  animation-delay: 1.6s;
}
@keyframes animStroke {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes animOpac {
  to {
    opacity: 1;
  }
}
@keyframes animFill {
  to {
    fill: #333;
  }
}
.slide-1 a {
  display: block;
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 200px;
}
.sogas_logo1 {
  position: absolute;
  right: 40px;
  top: 51px;
}
.sogaz_small_logo {
  position: absolute;
  top: 19px;
  left: 205px;
}
.arrow_down {
  position: absolute;
  top: 195px;
  left: 341px;
}
.sogaz_big_logo {
  position: absolute;
  left: -464px;
  top: 10px;
}
#portfolio .team {
   border-top: 1px solid #E2E2E2;
   font-size: 12px;
   padding: 39px 0;
   position: absolute;
   bottom: 0px;
   width: 100%;
}
#project {
  padding-top: 0px;
  margin-top: -122px;
}
#slide-1, #slide-2, #slide-3, #slide-4, #slide-5, #slide-6, #slide-17, #slide-18 {
  z-index: 99;
  background-color: #EF3301;
}
.rslides {
  position: absolute;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  }
/*.rslides li img {
  height: 100%;
  width: 100%;
}*/
#slide-11 .rslides .li_slider3 {
  background-size: cover;
background-position: center;
}

.rslides li.li1{
  background: url(slide11.jpg);
}
.rslides li.li2{
  background: url(slide2.jpg);
}
.rslides li.li3{
  background: url(slide3.jpg);
}
.rslides li.li4{
  background: url(slide4.jpg);
}
.rslides li.li5{
  background: url(slide5.jpg);
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides  .li_slide {
  display: block;
  height: auto;
  margin: 0 auto;
  border: 0;
}

.callbacks_nav {
  background: green;
  width: 53px;
  height: 86px;
  position: absolute;
  top: 540px;
  z-index: 2;
  text-indent: 50000px;
  margin-top: -81px;
}
.next {
  left: 433px;
  background-position: 0px -87px;
}
.prev {
  left: 196px;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  }

.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
  }

.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
  }

.rslides_tabs li:first-child {
  margin-left: 0;
  }

.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
  }
.callbacks_tabs {
  position: absolute;
  bottom: 100px;
  right: 12.25%;  
  z-index: 175;
  width: 125px;
} 
.callbacks_tabs li {
  width: 121px;
  float: left;
  overflow: hidden;
  height: 80px;
  padding-top: 6px;
  margin-bottom: 18px;
}
.callbacks_tabs li img {
  height: 70px;
  width: 70px;
  position: relative;
z-index: 10;

}
.callbacks_tabs li a{
margin: 0px 0 0 25px;

}
.callbacks_tabs li.callbacks_here {
  /*border-color: #000000;*/
  background: url(shtrih_slider2.png) no-repeat;
}
.callbacks_tabs li.callbacks_here a {
  width: 70px;
height: 70px;
  background:rgba(255,1,1,0.70); 
display: block;
/*margin: 6px 0 0 25px;*/
z-index: 11;
}
.callbacks_tabs li.callbacks_here a img {
  opacity: 0.5;
}
.slide .basics-content .content_left {
  float: left;
  width: 850px;
}
.slide .basics-content .content_left h2,
.slide .basics-content .content_left p {
  width: inherit;
}
#slide-5 .basics-content {
  left: 20%;
  top: 95px;
}
#slide-5 #icon_mouse_effect {
  float: left;
  margin: 65px 0 15px 41px;
}
#slide-5 #old_icon {
  background: url(new_icon.png) scroll no-repeat 0px 0;
  width: 688px;
  height: 431px;
}
#slide-5 #new_icon {
  background: url(old_icon.png) scroll 100% 0 no-repeat;
  height: 431px;
  width: 688px;
  float: right;
  background-color: #ffffff;
  border-left: 1px solid #ffffff;
  position: relative;
  box-shadow: inset 60px 0px 87px -92px rgba(0,0,0,0.75); 
}
#slide-5 .basics-content .effect_desc {
  overflow: hidden;
  float: left;
}
#slide-5 .basics-content .effect_desc p {
  width: 280px;
  display: inline-block;
  font: 18px/25px pf_beausans_prolight;
  margin-right: 20px;
  text-align: right;
}
#slide-5 .basics-content .effect_desc .first_color {
  margin-right: 90px;
}
#slide-5 .basics-content .effect_desc .first_color,
#slide-5 .basics-content .effect_desc .second_color {
  display: inline-block;
}
#slide-5 .basics-content .effect_desc .first_color div,
#slide-5 .basics-content .effect_desc .second_color div {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: inline-block;
  margin-right: 12px;
}
#slide-5 .basics-content .effect_desc .first_color div {
  background: linear-gradient(to bottom, rgba(255,221,105,1) 0%,rgba(255,108,123,1) 100%);
}
#slide-5 .basics-content .effect_desc .second_color div {
  background: linear-gradient(to bottom, rgba(105,207,160,1) 0%,rgba(202,254,142,1) 100%);
}
#slide-5 .basics-content .effect_desc .first_color span,
#slide-5 .basics-content .effect_desc .second_color span {
  font: 18px/25px pf_beausans_prolight;
  display: inline-block;
}
/*#slide-5 .backbg {
  background-position: 1224px;
  background-size: inherit;
}*/
#slide-7 {
  background: linear-gradient(to bottom, rgba(239,51,1,1) 1%,rgba(230,87,35,1) 100%); 
}
.tabs {
  top: 20px;
  height: 100%;
  left: 20%;
}
.tabs .tabs_link {
  overflow: hidden;
}
.tabs .tabs_link {
  margin-top: 32px;
  margin-bottom: 40px;
}

.tabs .tabs_link li {
  float: left;
}
.tabs .tabs_link li a {
  color: #ef3301;
  font: 20px/40px PFBeauSansProRegular;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px dotted #ef3301;
  height: 40px;
  text-align: center;
  margin: 0px 33px;
}
.tabs .tabs_link li a.active {
  color: #000000;
  border: 2px solid #000000;
  border-radius: 5px;
  height: 36px;
  line-height: 36px;
  padding: 0 18px;
  margin: 0 13px;
}
.tabs .tabs_content .tabs_cont {
  display: none;
}
.tabs .tabs_content .tabs_cont1 {
  display: block;
}
.tabs .tabs_content .tabs_cont img {
  position: absolute;
  bottom: 40px;
  left: 14%;
}
.tabs .tabs_content .tabs_cont p {
  width: 465px;
  font: 18px/25px pf_beausans_prolight;
  margin-bottom: 25px;
  margin-left: 35px;
}
/*#slide-3 .basics-content {
  left: 14%;
  top: 23%;
  width: 547px;
}*/
#slide-3 .basics-content p {
  width: inherit;
}
#slide-3 .backbg {
  background-size: inherit;
}

.tabs .tabs_link h2 {
  font: 40px PFBeauSansProRegular;
  margin-left: 30px;
}

#slide-11 .tabs .tabs_content .tabs_cont img {
  left: 90%;
}

#slide-16 .tabs .tabs_content .tabs_cont img {
  left: 64%;
}
#slide-18 .callbacks_tabs {
  left: 27%;
}
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 60px; position: relative; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  {background: url(carousel_nav.png) 0px 0px no-repeat; text-indent: 500000px; text-decoration:none; display: block; width: 24px; height: 38px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 1; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); }
.flex-direction-nav .flex-prev { background-position: 0px 0px; left: 0px; }
.flex-direction-nav .flex-next { background-position: -25px 0px; right: 0px; text-align: right; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; line-height:1; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before  { content: '\f002'; }
.flex-direction-nav .flex-prev:hover {
  background-position: 0px -39px;
}
.flex-direction-nav .flex-next:hover {
  background-position: -25px -39px;
}
/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

#slider {
  width: 770px;
}
#slider li img {
  margin: 0 auto;
}
#slide-17 .backbg {
  display: none;
}
#slide-17  .basics-content {
  background-color: #ffffff;
  left: 20px;
  top: 20px;
  right: 20px;
  bottom: 20px;
  padding-top: 70px;
  padding-left: 390px;
  overflow: hidden;
}
#slide-17  .basics-content h2 {
  margin-bottom: 20px;
}
#slide-17 #carousel {
  width: 703px;
  margin-bottom: 40px;
  position: relative;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 60px;
  overflow: hidden;
}
#slide-17 #carousel .flex-viewport li {
  border: 2px solid #ef3301;
  border-radius: 5px;
  height: 56px !important;
  margin-right: 21px;
  cursor: pointer;
  overflow: hidden;
}
#slide-17 #carousel .flex-viewport li.flex-active-slide {
  border-color: #000000;
}
#slide-17 #main {
  margin-left: 200px;
}
#slide-15 .tabs .tabs_content .tabs_cont img {
  left: 75%;
}
#slide-13 .tabs .tabs_content .tabs_cont img {
  left: 64%
}
#slide-17 h2 {
  margin-bottom: 0px;
}
/*@media only screen and (max-width: 1700px) {
  #slide-17 .basics-content {
    padding-left: 300px;
  }
  #slide-17 #main {
    margin-left: 200px;
  }
}
@media only screen and (max-width: 1550px) {
  #slide-18 .callbacks_tabs {
  left: 22%;
  }
   #slide-17 .basics-content {
    padding-left: 230px;
  }
  #slide-17 #main {
    margin-left: 200px;
  }
  #slide-3 .backbg {
    background-position: 650px center;
  }
}
@media only screen and (max-width: 1450px)  {
  #slide-3 .basics-content {
    width: 447px;
  }
  #slide-3 .backbg {
    background-position: 500px center;
  }
}
@media only screen and (max-width: 1400px) {
  #slide-18 .callbacks_tabs {
  left: 17%;
  }
  #slide-17 .basics-content {
    padding-left: 200px;
  }
  #slide-17 #main {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 1200px) {
  #slide-18 .callbacks_tabs {
  left: 11%;
  }
  #slide-17 .basics-content {
    padding-left: 86px;
  }
  #slide-17 #main {
    margin-left: 130px;
  }
}
@media only screen and (max-width: 1150px) {
  #slide-5 .basics-content {
    left: 12%;
  }
}
@media only screen and (max-width: 1100px) {
  .tabs .tabs_link li a {
    margin: 0 15px;
  }
  #slide-18 .callbacks_tabs {
    left: 5%;
  }
  #slide-17 .basics-content {
    padding-left: 30px;
  }
  #slide-17 #main {
    margin-left: 70px;
  }
  #slide-3 .basics-content {
    left: 8%;
  }
    #slide-3 .backbg {
    background-position: 400px center;
  }
  .tabs {
    left: 10%;
  }
}*/

.slides-container {
  /*min-height: 800px !important;*/
}
#slide-1 {

  background: url(slide1.jpg) no-repeat;
  /*background-size: 100% 100%;*/
  background-size: cover;
  background-position: center center; 
}
#slide-2 {
  background: url(slide2.jpg) no-repeat;
  /*background-size: 100% 100%;*/
  background-size: cover;
  background-position: center center; 
}
#slide-3 {
  background: url(slide3.jpg) no-repeat;
  /*background-size: 100% 100%;*/
  background-size: cover;
  background-position: center center; 
}
#slide-4 {
  background: url(slide4.jpg) no-repeat;
  /*background-size: 100% 100%;*/
  background-size: cover;
  background-position: center center; 
}
#slide-5 {
  background: url(slide5.jpg) no-repeat;
  /*background-size: 100% 100%;*/
  background-size: cover;
  background-position: center center; 
}
#slide-6 {
  background: url(slide6.jpg) no-repeat;
  /*background-size: 100% 100%;*/
  background-size: cover;
  background-position: center center; 
}
#slide-7 {
  background: url(slide7.jpg) no-repeat;
  /*background-size: 100% 100%;*/
  background-size: cover;
  background-position: center center; 
}
#slide-8 {
  background: url(slide8.jpg) no-repeat;
  /*background-size: 100% 100%;*/
  background-size: cover;
  background-position: center center; 
}
#slide-9 {
  background: url(slide9.png) no-repeat;
  /*background-size: 100% 100%;*/
  background-size: cover;
  background-position: center center; 
}
#slide-10 {
  background: url(slide10.jpg) no-repeat;
  /*background-size: 100% 100%;*/
  background-size: cover;
  background-position: center center; 
}
#slide-12 {
  background:#e8e8e8; 
}
#slide-13{
  background: url(slide13.jpg) no-repeat;
  /*background-size: 100% 100%; */
  background-size: cover;
  background-position: center center; 
}
#slide-14 {
  background: url(slide14.jpg) no-repeat;
  /*background-size: 100% 100%;*/
  background-size: cover;
  background-position: center center;  
}
#slide-15 {
  /*background: url(fish_bg.jpg) no-repeat;*/
  /*background-size: 100% 100%; */
  background: #e7e7e7;
  background-size: cover;
  background-position: center center; 
}
#slide-16 {
  background: url(slide16.jpg) no-repeat;
  /*background-size: 100% 100%; */
  background-size: cover;
  background-position: center center; 
}

.arrow {
  position: absolute;
  z-index: 99999;
}
.arrow1 {
  top: 735px;
left: 60%;
}
.arrow1_2 {
  top: -210px;
  left: 60%;
}
.arrow2 {
  top: -175px;
left: 25%;
}
.arrow3 {
  top: -165px;
  left: 37%;
}

.arrow4 {
  left: 28%;
  top: -110px;
}
.arrow5 {
  right: 10%;
  top: -275px;
}
.arrow6 {
  right: 33%;
  top: -41px;
}
.arrow7 {
  right: 33%;
  top: -213px;
}








/*.arrow2 {top: 0px;left: 0px;}
.arrow3 {top: 0px;left: 0px;}
.arrow4 {top: 0px;left: 0px;}
.arrow5 {top: 0px;left: 0px;}
.arrow6 {top: 0px;left: 0px;}
.arrow7 {top: 0px;left: 0px;}*/



.basics-content p {
  font: 13px/18.5px 'Acrom_Regular';
}
.wrap_border p {
  font: 14px/20px 'Acrom_Regular';
}
#slide-1 .basics-content {
  min-width: 980px;
  top: 70px;
}
#slide-1 .obedov_logo {
  margin-top: 150px;
}
#slide-1 .slogan {
  position: absolute;
  top: 220px;
  right: 31%;
  width: 643px;
  height: 462px;
  background: url(bubble_shape.png);
  font-size: 20px;
}

#slide-1 .slogan span.style1 {
font-weight: bold;
width: 480px;
display: block;
margin: 85px 0 25px 90px;
font:36px/42px 'Acrom_ExtraBold';
}
#slide-1 .slogan p {
  width: 480px;
  margin: 0px 0 20px 90px;
  font:14px/20px 'Acrom_Regular';
}


.header_img {
  position: absolute;
}
#slide-2 .header_img {
  top: 45px;
}
#slide-2 .basics-content {
  left: 33%;
}
#slide-2 .wrap_border {
  background:url(border_img_situaciya.png) no-repeat;
  margin-top: 305px;
  width: 443px;
  height: 302px;
  padding-top: 1px;
}
#slide-2 .wrap_border p{
  width: 380px;
  margin: 66px 0 0 40px;
}
#slide-3 .header_img {
  top: 70px;
  left: 125px;
}
#slide-3 .basics-content {
  left: 22%;
}
#slide-3 .wrap_border {
  background:url(border_img_zadacha.png) no-repeat;
  height: 100%;
  margin-top: 267px;
  padding-top: 1px;
}
#slide-3 .wrap_border p{
  width: 380px;
  margin: 90px 0 0 63px;
}
#slide-4 .header_img {
  top: 85px;
  left: 485px;
}
#slide-4 .basics-content {
  left: 22%;
}
#slide-4 .wrap_border {
  background:url(ballon_img_resheniye.png) no-repeat;
  height: 100%;
  margin-top: 65px;
  padding-top: 190px;
}
#slide-4 .wrap_border p{
  width: 350px;
  color: #f7b27b;
  margin:0 0 15px 69px;
}
#slide-4 .text_img_resheniye {
  position: absolute;
  left: 170px;
  bottom: 90px;
}
#slide-5 .basics-content {
  left: 34%;
}
#slide-5 .wrap_border {
  background:url(border_img_ideya.png) no-repeat;
  height: 100%;
  margin-top: 310px;
  padding: 60px 0 0 38px;
}
#slide-5 .wrap_border p{
  width: 380px;
 font-size: 13px;
}
#slide-6 .header_img {
  left: 135px;
  top: 55px;
}
#slide-6 .basics-content {
  left: 23.75%;
}
#slide-6 .wrap_border {
  background:url(ballon_img_frmenniy_stil.png) no-repeat;
  height: 100%;
  margin-top: 310px;
  padding: 105px 0 0 35px;
}
#slide-6 .wrap_border p{
  width: 380px;
  /*background:blue;*/
}

#slide-7 .basics-content {
  left: 20%;
  top: 125px;
}
#slide-7 .basics-content > p {
  width: 280px;
  height: 275px;
  font-size: 14px;
  margin-left: 90px;
}
#slide-7 .wrap_border {
  background:url(ballon_img_obed_eto_ne_prosto.png) no-repeat;
  height: 100%;
   padding: 50px 0 0 90px; 
}
#slide-7 .wrap_border p{
  color: #d3cf9f;
  width: 278px;
}

#slide-8 .basics-content {
  left: 21%;
  top: 125px;
}
#slide-8 .basics-content > p {
  width: 280px;
  height: 275px;
  background:red;
  font-size: 10px;
}
#slide-8 .wrap_border {
  background:url(ballon_img_vprocesse.png) no-repeat;
  height: 100%;
  padding: 146px 0 0 120px;
}
#slide-8 .wrap_border p{
  width: 380px;
  /*background:blue;*/
  color: #f6d975;
}
#slide-8 .img_vprocesse {
  position: absolute;
  top: 0;
  /*left: 34%;*/
  right: 24%;
}
#slide-9 .basics-content {
  left: 21%;
}
#slide-9 .basics-content > p {
  width: 280px;
  height: 275px;
  background:red;
  font-size: 10px;
}

#slide-9 .wrap_border {
  float: left;
  background-size: 100%;
  width: 352px;
  height: 149px;
  background: url(Obedov_Slide_9_Balloon.png);
  margin-top: 40px;

}
#slide-9 .wrap_border p{
  width: 280px;
  margin: 35px 0 0px 65px;
}
#slide-9 .jshowoff {
    float: right;
  right: 15%;
}
.jshowoff {
  width: 621px;
  height: 621px;
  margin: 0 auto;

  }
  .jshowoff #features{
    width: 100%;
    height: 100%;
  }
  .jshowoff #features >div {
    width: 100%;
    height: 100%;
  }
  .jshowoff #features >div >img {
    width: 100%;
    height: 100%;
  }
.jshowoff p.jshowoff-slidelinks {
  display: none;
  }
.jshowoff-slidelinks a, .jshowoff-controls a {
  display: block;
  background-color: #000;
  color: #fff;
  float: left;
  text-decoration: none;
  outline: none;
  width: 79px;
  height: 83px;
  background: url(arrows_slider1.png) no-repeat;
  margin-left: -35px;
  text-indent: -9999px;
  }
.jshowoff-slidelinks a:hover, .jshowoff-controls a:hover {
  color: #fff;
  }
.jshowoff-slidelinks a.jshowoff-active, .jshowoff-slidelinks a.jshowoff-active:hover {
  background-color: #fff;
  color: #000;
  }
p.jshowoff-controls {
  position: absolute;
  top: 270px;
  width: 621px;
  }
.jshowoff-1-prev {
  background: url(arrows_slider1.png) no-repeat 0 -83px !important;
}
.jshowoff-1-next {
  float: right !important;
  margin-right: -35px !important;
}
.jshowoff-play {
  display: none !important;
}

#slide-10 .basics-content {
  left: 23.75%;
  top: 550px;
}

#slide-10 .wrap_border {
  background:url(ballon_img_atributy.png) no-repeat;
  height: 100%;
  padding: 20px 0 0 32px;
}
#slide-10 .wrap_border p{
  width: 380px;
  /*background:blue;*/
  color: #f1d370;
}


#slide-12 .header_img {
  left: 40.5%;
  z-index: 11;
}
#slide-12 .basics-content {
  /*left: 28%;*/
  top: 25px;
}

.jshowoff-2 {
  width: 872px;;
  height: 610px;
  margin:140px auto 0 auto;
  position: relative;
  z-index: 10;
  }
  #features2{
    width: 100%;
    height: 100%;
  }
  #features2 >div {
    width: 100%;
    height: 100%;
  }
  #features2 >div >img {
    width: 100%;
    height: 100%;
  }

.jshowoff-2-slidelinks a, .jshowoff-2-controls a {
  display: block;
  background-color: #000;
  color: #fff;
  float: left;
  text-decoration: none;
  outline: none;
  width: 79px;
  height: 83px;
  background: url(arrows_slider1.png) no-repeat;
  margin-left: -35px;
  text-indent: -9999px;
  }

p.jshowoff-2-controls {
  position: absolute;
  top: 270px;
  width: 100%;
  }
.jshowoff-2-prev {
  background: url(arrows_slider1.png) no-repeat 0 -83px !important;
}
.jshowoff-2-next {
  float: right !important;
  margin-right: -35px !important;
}
.jshowoff-2-play {
  display: none !important;
}

#slide-13 .basics-content {
  left: 38.5%;
  top: 60px;
}
#slide-13 .basics-content .header_img {
  z-index: 11;
  position: relative;
}
#slide-13 .wrap_border {
  background:url(ballon_img_slider4.png) no-repeat;
  position: absolute;
  bottom: 35px;
  right: 36%;
  width: 433px;
  height: 142px;

}
#slide-13 .wrap_border p{
  width: 380px;
  padding: 55px 0 0 48px;
}

#features3 > div {
  border-radius: 50%;
  overflow: hidden;
  width: 440px;
  height: 335px;
  padding: 16px 0 0 12px;
}
#features3 > div >img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.jshowoff-3 {
  position: relative;
  width: 472px;
  height: 365px;
  background: url(ballon_img_oformleniye.png);
  margin-top: -70px;
  margin-left: 155px;
  z-index: 10;
}
.jshowoff-3-controls {
  width: 100% !important;
  top: 130px !important;
}
.jshowoff-3-prev {
  background: url(arrows_slider1.png) no-repeat 0 -83px !important;
}

.jshowoff-3-next {
  float: right !important;
  margin-right: -35px !important;
}

#slide-14 .basics-content {
  left: 34.5%;
  top: 140px;
}
#slide-14 .basics-content .header_img {
  margin-left: 170px;
}
#slide-14 .wrap_border {
  width: 582px;
  margin-top: 230px;
}
#slide-15 .basics-content{
  width: 980px;
  position: relative;
  margin: 0 auto;
}
#slide-15 .rslides li {
  width: 800px;
  height: 600px;
  margin-left: 45px;
margin-top: 75px;
}
#slide-15 .rslides li .browser {
  width: 700px;
  height: 790px;
  margin-top: 60px;
}
#slide-15 .rslides li .browser >div {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 700px;
  height: 400px;
}
#slide-15 .rslides li .browser >div >img {
  height: auto;
  min-height: 400px;
  max-width: 100%;
}
#slide-15 .callbacks_tabs {
  top: 100px;
  right: 0;
}

#slide-15 .fish_img {
  position: absolute;
  bottom: 0;
  z-index: 9;
}
#slide-15 .imac_img {
  margin-left: -110px;
}

#slide-16 .basics-content {
  left: 51.75%;
  top: 25px;
}
#slide-16 .wrap_border {
  width: 308px;
  height: 180px;
  background: url(ballon_final.png);
}

#slide-16 .wrap_border a{
  display: block;
  font: 24px/30px 'Acrom_Regular';
  color: #ffffff;
  text-decoration: underline;
  padding: 86px 0 0 52px;
}





@media only screen and (max-width: 1750px) {
  .arrow1_2 {
    left: 66%;
  }
  .arrow2{
    left: 19%;
  }
  .arrow7 {
    right: 31%;
  }
  #slide-1 .basics-content {
    margin-left: 8%;
  }
  #slide-1 .slogan {
    right: 20%;
  }
  #slide-3 .basics-content {
    left: 14%;
  }
  #slide-4 .basics-content {
    left: 16%;
  }
  #slide-6 .basics-content {
    left: 15%;
  }
  #slide-7 .basics-content {
    left: 14%;
  }
  #slide-9 .wrap_border {
    margin-top: 40px;
  }
  #slide-9 .wrap_border p {
    margin: 35px 0 0 70px;
  }
  #slide-10 .basics-content {
    left: 20%;
  }
}
@media only screen and (max-width: 1600px) {
  .arrow2 {
    left: 17%;
  }
  .arrow3 {
    left: 35%;
  }
  .arrow7 {
    right: 30%;
  }
  #slide-4 .basics-content {
    left: 12%;
  }
  #slide-6 .basics-content {
    left: 10%;
  }
  #slide-7 .basics-content {
    left: 10%;
  }
  #slide-7 .wrap_border {
    padding-top: 80px;
  }
  #slide-8 .basics-content {
    left: 13%;
  }
  #slide-9 .basics-content {
    left: 17%;

  }
  #slide-10 .basics-content {
    left: 17%;
  }
  #slide-14 .basics-content {
    left: 30%;
    top: 175px;
  }

}


@media only screen and (max-width: 1500px) {
  .arrow1_2 {
    left: 66%;
  }
  .arrow7 {
    right: 29%;
  }
  #slide-3 .basics-content {
    left: 6%;
  }
  #slide-7 .basics-content {
    left: 7%;
  }
  #slide-9 .basics-content {
    left: 9%;
  }
}
@media only screen and (max-width: 1400px) {
  .arrow1_2 {
    left: 70%;
  }
  .arrow3 {
    left: 33%;
  }
  .arrow6 {
    right: 25%;
  }
  .arrow7 {
    right: 27%;
  }
  #slide-1 .basics-content {
    margin-left: 6%;
  }
  #slide-1 .slogan {
    right: 14%;
  }
  #slide-4 .basics-content {
    left: 10%;
  }
  #slide-7 .basics-content {
    left: 5%;
  }
  #slide-8 .basics-content {
    left: 6%;
  }
  #slide-8 .img_vprocesse {
    right: 15%;
  }
  #slide-9 .jshowoff {
    float: right;
    right: 10%;
  }
  #slide-10 .basics-content {
    left: 12%;
  }
  #slide-13 .wrap_border {
    right: 15%;
  }
}
@media only screen and (max-width: 1300px) {
  .arrow2 {
    left: 11%;
  }
  .arrow7{
    right: 25%;
  }
  #slide-1 .basics-content {
    left: 4%;
  }
  #slide-1 .slogan {
    right: 8%;
  }
  #slide-3 .basics-content {
    left: 1%;
  }
  #slide-4 .basics-content {
    left: 4%;
  }
  #slide-5 .basics-content {
    left: 29%;
  }
  #slide-6 .basics-content {
    left: 2%;
  }
  #slide-7 .basics-content {
    left: 1%;
  }
  #slide-14 .basics-content {
    left: 27%;
  }
}
@media only screen and (max-width: 1200px) {
  .arrow3 {
    left: 30%;
  }
  .arrow7 {
    right: 23%;
  }
  #slide-1 .basics-content {
    left: 0;
  }
  #slide-1 img.obedov_logo {
    width: 38%;
  }
  #slide-2 .basics-content {
    left: 25%;
  }
  #slide-7 .basics-content {
    left: 0%;
  }
  #slide-8 .basics-content {
    left: 3%;
  }
  #slide-8 .img_vprocesse {
    right: 8%;
  }
  #slide-10 .basics-content {
    left: 8%;
  }
}
@media only screen and (max-width: 1150px) {
  .arrow3 {
    left: 29%;
  }
  #slide-9 .basics-content {
left: 3%;
}
#slide-9 .jshowoff {
right: 7%;
}
#slide-14 .basics-content {
left: 24%;
}

}
@media only screen and (max-width: 1100px) {
  .arrow2 {
    left: 7%;
  }
  .arrow3 {
    left: 27%;
  }
  .arrow7 {
    right: 21%;
  }
  #slide-3 .basics-content {
    left: 2%;
  }
  #slide-3 .wrap_border {
    background-size: 55%;
  }
  #slide-3 .wrap_border p {
    width: 380px;
    margin: 65px 0 0 40px;
    font: 11px/17px 'Acrom_Regular';
    width: 300px;
  }
  #slide-4 .basics-content {
    left: 0%;
  }
  #slide-7 .basics-content > p {
    margin-left: 50px;
  }
  #slide-10 .basics-content {
    left: 4%;
  }
  #slide-14 .basics-content {
    left: 23%;
  }
}
@media only screen and (max-width: 1050px) {
  .arrow2 {
    left: 2%;
  }
  .arrow7 {
    right: 20%;
  }
  #slide-1 .basics-content {
    margin-left: 3%;
  }
  #slide-1 .slogan {
   right: 4%;
  }
  #slide-4 .text_img_resheniye {
    left: 100px;
  }
  #slide-5 .basics-content {
   left: 23%;
  }
  #slide-6 .basics-content {
   left: 0%;
  }
  #slide-7 .basics-content > p {
   margin-left: 35px;
  }
  #slide-8 .basics-content {
    left: 0%;
  }
  #slide-8 .img_vprocesse {
   right: 3%;
  }
  #slide-9 .basics-content {
   left: 0%;
  }
  #slide-9 .jshowoff {
   right: 5%;
  }
}
@media only screen and (max-width: 1000px) {
  .arrow2 {
    left: 1%;
  }
  .arrow7 {
    right: 18%;
  }
  #slide-1 .obedov_logo {
    width: 37%;
  }
  #slide-1 .basics-content {
    margin-left: 2%; 
  }
  #slide-1 .slogan {
    right: 8%;
    width: 561px;
    height: 403px;
    background-size: 100%;
  }
  #slide-1 .slogan span.style1 {
    margin: 71px 0 10px 80px;
    font: 32px/35px 'Acrom_ExtraBold';
  }
  #slide-1 .slogan p {
    margin: 0px 0 10px 80px; 
    font: 14px/17px 'Acrom_Regular';
    width: 465px;
  }
  #slide-2 .basics-content {
    left: 25%;
  }
  #slide-3 .header_img {
    left: 50px;
  }
  #slide-4 .basics-content {
   left: 0%;
  }
  #slide-4 .wrap_border {
    background-size: 46%;
    padding-top: 160px;

  }
  #slide-4 .wrap_border p {
    width: 300px;
    font-size: 12px;
  }
  #slide-4 .header_img {
    top: 15px;
    left: 450px;
  }
  #slide-4 .text_img_resheniye {
    left: 60px;
  }
  #slide-5 .basics-content {
    left: 25%;
  }
  #slide-6 .basics-content {
    left: 2%;
  }
  #slide-7 .basics-content {
    left: 0;
  }
  #slide-7 .basics-content > p {
    margin-left: 20px;
  }
  #slide-7 .wrap_border {
    padding: 80px 0 0 90px;
  }
  #slide-8 .basics-content {
    left: 0%;
    top: 70px;
  }
  #slide-8 .img_vprocesse {
    right: 2%;
  }
  #slide-9 .basics-content {
    left: -1%;
  }
  #slide-9 .wrap_border p {
    margin: 40px 0 0 75px;
  }
  #slide-9 .jshowoff {
    position: relative;
    right: 4%;
  }
  #slide-10 .basics-content {
    left: 2%;
  }
  #slide-11 .callbacks_tabs {
    right: 2%;
  }
  #slide-13 .wrap_border {
    right: 5%;
  }
  #slide-13 .jshowoff-3 {
    margin-left: 150px;
    width: 550px;
  }
  #slide-13 .basics-content {
    left: 30%;
  }
  #slide-13 .jshowoff-3-next {
    margin-right: 40px !important;
  }
  #slide-14 .basics-content {
    left: 21%;
  }
  #slide-14 .basics-content .header_img{
    margin: 10px 0 0 130px;
  }
}
@media only screen and (max-height:: 800px) {
  #slide-4 .basics-content {
    left: 0;
  }
  #slide-4 .wrap_border {
    margin-top: 30px;
  }
  #slide-4 .text_img_resheniye {
    left: 4%;
  }
  #slide-5 .wrap_border {
    margin-top: 255px;
  }
  #slide-6 .basics-content {
    left: 0;
  }
  #slide-14 .basics-content .header_img {
    margin-top: 0;
  }

}

.scrollup {
  position: fixed;
  opacity: 0.5; 
  padding: 15px 10px 10px; /* отступы */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  right: 10px; 
  bottom: 10px; 
  display: none;
  cursor: pointer;
  z-index: 999999999;
}

.scrollup:hover {
  opacity: 1;
}















